// Default simple contact top header

#header-contact-top {
	position: relative;
	height: $header-top-height;
	padding: $header-top-padding;
	text-align: right;
}

#header-main {
	position: relative;
}
