input,
select,
textarea {
	max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea {
	font-family: $font-body;
	font-size: inherit;
	padding: 4px;
	border: 1px solid #ccc;
}
